USE [GRAVEL]
GO
/****** Object:  StoredProcedure [dbo].[uspVariableRate_Get]    Script Date: 7/19/2023 9:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
ALTER   PROCEDURE [dbo].[uspVariableRate_Get]
    @LegID              INT            = NULL,
    @VariableRate       NUMERIC(10, 2) = NULL OUTPUT,
    @VariableRemark     VARCHAR(255)   = NULL OUTPUT,
    @SeriesID           INT            = NULL OUTPUT,
    @BaseRate           NUMERIC(10, 2) = NULL OUTPUT,
    @Ratio              NUMERIC(10, 2) = NULL OUTPUT,
    @ContractID         INT            = NULL,
    @OwnedProgramID     INT            = NULL,
    @FlownProgramID     INT            = NULL,
    @OwnedAircraftID    INT            = NULL,
    @FlownAircraftID    INT            = NULL,
    @TimeOff            DATETIME       = NULL,
    @BilledHours        NUMERIC(10, 2) = NULL,
    @DemoFlag           BIT            = 0,
    @FarPartID          INT            = 1,
    @Fuel               NUMERIC(10, 2) = NULL OUTPUT,
    @NonFuel            NUMERIC(10, 2) = NULL OUTPUT,
    @FuelAdj            NUMERIC(10, 2) = NULL OUTPUT,
    @RateByRatioFlag    INT            = NULL OUTPUT,
    @SegmentActualID    INT            = NULL,
    @PremiumAppliedFlag BIT            = 0 OUTPUT,
    @SourceRoutine      VARCHAR(10)    = NULL,
    @BaseRateDisc       NUMERIC(10, 2) = 0 OUTPUT,
    @BaseRateDiscPromo  NUMERIC(10, 2) = 0 OUTPUT,
    @CommercialFlag     BIT            = 1 OUTPUT,
    @DepAirportID       INT            = NULL,
    @ArrAirportID       INT            = NULL,
    @PrintDebug         BIT            = 0
AS
    SET NOCOUNT ON ;
/**************************************************************************************************************************
* Procedure Name:  uspVariableRate_Get
*
*       Database:  GRAVEL
*    Application:  FlexBilling
*        Purpose:  Determine the Variable rate for a specific Trip Segment or Contract
*		   
****************************************************************************************************************************
*          Notes:  S1 reg = contract rate owned
*		   S1 up/dn = S3 brochure rate of flown, contract ratio
*		   S2/3/4/Card reg = contract rate owned
*		   S2/3/4 up/dn = contract rate owned * contract ratio
*		   Card up/dn = contract rate owned (ratio impacts hours) 
*		   VP = S3 brochure rate flown, S3 ratio for up/dn
*		   MA - Boca reg = contract rate owned
*		   MA - Boca up/dn = S3 brochure rate, S3 ratio
*		   MA - NYL reg (on tail) = contract rate owned
*		   MA - NYL not on tail = S3 brochure rate, S3 ratio
*
*		Use VP program for S3 brochure rates, ratios
****************************************************************************************************************************
Revision History:
Date		Name				Description
========	=================	==============================================================================================
20010511	Elton Gore          Created
20010824	Elton Gore		    Modified to use Series 2 logic	
20020530	Elton Gore		    modified for SR952, needed SeriesID and Ratio as output parms
20021018	Brian Glass		    Modified to use ACTripRateNameID insted of CHDID IN ()
20021011	Elton Gore		    Added ability to Demos to use FarPartID to determine Rate BUG#4426
20030324	Elton Gore		    Added logic to work with new Series 3 contracts
20030417	Brian Glass		    Modified to use program ranks for up/downgrade comparisons
20030507	Elton Gore		    modified to return ratio in all cases, replacing the call to uspContractAllocationRatio_get
20030603	Elton Gore		    modified to set @ratio to null before calc'ing, because SERIES 1 contracts w/multi leg trips
						        were not calculating properly after the first leg. USD 269118
20030707	Elton Gore		    modified for decoupling
20030922	Brian Glass		    modified for VP stuff
20030930	Brian Glass		    fixed VP default rates
20031009	Elton Gore		    modified to always get default rates when all three not present on contract level, not just for VP
20031031	Elton Gore		    added check of available hours when marketingprogram is for  L40 (IDs=12,22,28)
20031119	Brian Glass		    modified Series 1 ratio stuff for FlexJetProgramID = NULL
20040726	Elton Gore		    added output parms for components of var rate, added logic for calculation series
20040823	Elton Gore		    added logic used when determining VarRate by LegID
20040922	Brian Glass		    replaced call to ContractBalance proc with direct query to CUS table
20041210	Brian Glass		    modified series 1 up/dn to use current S3 brochure rates for a/c flown
20050203	Brian Glass		    modified to use CalculationSeries when getting ratio
20050217	Brian Glass		    modified for Part 91K for the demos
20050413	Brian Glass		    rewrite to include VP up/dngrades as well as MA
20050414	Brian Glass		    added RateByRatio OUTPUT
20050421	Brian Glass		    modified CHAR(13) to be CHAR(13)+CHAR(10) to prevent boxes
						        when editing in FlexBilling
20050422	Brian Glass		    modified for 135 demos to get current Series 3 rates
20050502	Brian Glass		    modified Part 91/91K demos to get rate based on AC flown
20050601	Brian Glass		    fixed bug that was getting S3 ratio for S1 up/dn
20050606	Brian Glass		    added SegmentActualID input parm for D to E process forcing proper
						        execution in a split trip scenario
20050906	Brian Glass		    added support for Euro Lear 45 and Euro 300
20050909	Brian Glass		    added premium pricing - stored with S3 VP like brochure rates
20051103	Brian Glass		    bug fix on Premium Pricing flag determination
20051209	Brian Glass		    added SAProcessStatusID and check to only charge Prem Pricing if originally applied
20060112	Brian Glass		    modified for new series structures
20060621	Brian Glass		    modified so that non-upgrade flights on "owned" a/c where no rate values
						        at the contract or program level (like core hours), go get S3 brochure rate for "owned" a/c
20070226	Brian Glass		    Added support for Series 4
20070821	Brian Glass		    Apply new Hourly Rate - Discount RateType
20070824	Brian Glass		    Fixed append to VariableRemark that was NULLing out data
20070906	Brian Glass		    Added SourceRoutine for CMGR call and Intl Pricing
20071119	Brian Glass		    Added support for Flexjet 25 demo pricing
20080624	Brian Glass		    Modified FJ25 cards to use own rate (u/d) and ratio only against hours
20081002	Brian Glass		    Added support for Euro L40
20081203	Brian Glass		    Added ability to run against legs not yet merged
20090227	Brian Glass		    Added use of ScheduledOut when TimeOff NULL in SA (Stage A)
20090924	Brian Glass		    Added support for NY Life's new contract (hard-coded ID)
20091001	Brian Glass		    Modified ratio application for Hybrid NYL to match former MA functionality
20091230 	Lee Vance		    Modified so that Flexjet 25 demos use the same rates as fractional
20091223	Brian Glass		    Modified for merged leg structure
20100128	Brian Glass		    Modified to account for Additional Hour Purchase for AH Cards
20100318	Brian Glass		    Modified to use quote
20100601	Brian Glass		    Modified so that HMA will use S3VP for ratios
20100729	Brian Glass		    Modified to get Euro FJPID translation from database
20110105	Brian Glass		    Modified to use local time off when not passed in
20110330 	Lee Vance		    Modified to use new VendorQuote structure
20110829	Brian Glass		    Added impacts for Debit cards (peak day premium, recharge discounts)
20111003	Brian Glass		    Modified to not include BaseRate discounts in overall BillingRate when called from trip processing
20120112	Brian Glass		    Modification to demo rate calculation
20120118	Brian Glass		    Added SourceRoutine of C for contract changes within Stage C
20120215	Brian Glass		    Yet another change to the demo rate calculation to account for rounding down to 0 or 5 in the ones place
20120301	Brian Glass		    You guessed it...  another change to demo rates; now use percentage from table (as they keep changing it)
20120305	Brian Glass		    Fixed peak day rates to include discounts for debit cards
20120330	Brian Glass		    Modified for new comm/non-comm FCA
20120423	Brian Glass		    Modified to use new FETType UDF
20120426 	Steve von Readen    Added BusinessUnitID to demand day determination for PeakDay
20120626	Brian Glass		    Corrected to always bill flown for debit cards
20120806	Brian Glass		    Allow for contract-level override for normal VP contracts (MPID 24)
20120913	Brian Glass		    Modified to allow contract-level, possibly f	Leet specific discount rates (peak day, base rate)
20121001	Brian Glass		    Fixed error caused by OUTPUT parameters not being properly cleared upon entry
20121004	Brian Glass		    Fixed bug created by previous fix when I cleared the passed SeriesID
20121010	Brian Glass		    Modified to only get the base rate discounts and peak premium from the contract level
20121112	Brian Glass		    Added support for Coastal Connect pricing
20121129	Brian Glass		    Extended storage of discount percents to 2 decimal places (4 actual)
20121205	Brian Glass		    Modified to always calc 1 ratio for Debit cards
20130204	Brian Glass		    Modified peak day premium percent to caryy more decimals
20130205	Brian Glass		    Modified demo rate calc to use different 0/5 rounding rules (round normal to 0 or 5, not always down)
20130827	Keith Kratochvil    26985 Performance improvements for uspVariableRate_Get
20131209	Keith Kratochvil    29959 Change the way promotional and loyalty discounts are applied\
20140428	Sherri Sneed	    Series 5 Migration (added Series 5)
20140601	Sherri Sneed	    HS34071 - modified logic to use S5 for demo trips
20140605	Sherri Sneed	    HS34157 - fixed transposed @FET and @HFUK
20150423	Sherri Sneed	    Added contract series for FO aircraft
20150707    Curt Coker          Used default MarketingProgramID = 24 to get ratio, where necessary
20150722    Chad Silva          Removed rounding for FO for Variable Rate
20150818	Chad Silva          Added exception detail to pass back to the user
20151015	Curt Coker		    Added FlexjetProgramID = 37 (Challenger 350) to derivation of @CoastalConnectFlag,
                                in order to handle split of Challenger 300/350 FlexjetProgramID.
20151005	Chad Silva          Added premium pricing to NonFuel Charge warning
20151209    Curt Coker          Reformatted comments and declarations, added @PrintDebug parameter and PRINT commands.  
                                Commented-out conditions in WHERE clauses that prevent dbo.MarketingFlexjetProgramXref 
                                from being used to find a rate.
20160419    Curt Coker          Added handling for new Series 7 non-commercial FCAFormulaID
20160524    John DeVecchio      Added to use NYL OwnedProgramID contract rates for Operational Upgrades
20160504    Mike Vinson         Change to use CAMP Ops calendar instead of FlexBilling calendar. Work Item # 4457
20160811    Curt Coker          Corrected diagnostic PRINT comment typo
20160823    Steve von Readen    Changed NyLife marketing prgogram from 24 to 383 so that it remains using series 4 pricing	
20160908    John DeVecchio      Corrected Peak day Calendar Lookup.
20161104    Curt Coker          Made premium pricing dependent on the existence of a premium rate, and combined code that
                                determines if premium pricing should be applied into a single SET statement.
20171102    John DeVecchio      Added HEAVY per Christine to the PEAK travel increase logic
20220617    Sherri Sneed        Removing logic that disallows users from selecting a Euro "flown" aircraft
***************************************************************************************************************************/

    DECLARE @OwnedProgramRank      INT,
            @FlownProgramRank      INT,
            @RequestedProgramRank  INT,
            @ActualProgramRank     INT,
            @RequestedProgramID    INT,
            @SegmentTypeID         INT,
            @FlightHours           FLOAT,
            @MarketingProgramID    INT,
            @Balance               INT,
            @Guarantee             INT,
            @CalculationSeriesID   INT,
            @CalculationSeriesDate DATETIME,
            @FarPartName           VARCHAR(20),
            @AircraftID            INT,
            @PremiumFlag           BIT,
            @SAProcessStatusID     INT,
            @PrimarySeries         INT,
            @CardFlag              BIT,
            @FuelAdjDisc           NUMERIC(10, 2),
            @SkyjetSurcharge       NUMERIC(10, 2),
            @AHPurchase            NUMERIC(10, 2),
            @AHPremium             NUMERIC(10, 2),
            @BillFromQuoteFlag     BIT,
            @MUDiscACFlag          BIT,
            @PeakDayPremium        NUMERIC(5, 4),
            @PeakDayFlag           BIT,
            @BaseRateDiscP         NUMERIC(10, 4),
            @BaseRateDiscPromoP    NUMERIC(10, 4),
            @BaseRateWorking       NUMERIC(10, 2),
            @FCARateTypeID         INT,
            @DebitCardFlag         BIT,
            @CoastalConnectFlag    BIT,
            @BCA                   NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @Diesel                NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @FET                   NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @VOD                   NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @BaseFuel              NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @HFUK                  NUMERIC(10, 4), -- used to calc S5 Commercial Demo
            @BUID                  INT ;

    SET @PremiumAppliedFlag = 0 ;
    SET @PremiumFlag = 0 ;
    SET @VariableRate = 0 ;
    SET @VariableRemark = '' ;
    SET @Ratio = NULL ;
    SET @RateByRatioFlag = 0 ;
    SET @SAProcessStatusID = 0 ;
    SET @PrimarySeries = 3 ;
    SET @FuelAdjDisc = 0 ;
    SET @SkyjetSurcharge = 0 ;
    SET @CardFlag = 0 ;
    SET @AHPurchase = 0 ;
    SET @AHPremium = 0 ;
    SET @BillFromQuoteFlag = 0 ;
    SET @MUDiscACFlag = 0 ;
    SET @PeakDayFlag = 0 ;
    SET @BaseRateDisc = 0 ; --the actual $
    SET @BaseRateDiscPromo = 0 ; --the actual $
    SET @DebitCardFlag = 0 ;
    SET @SeriesID = NULL ;
    SET @BaseRate = NULL ;
    SET @Fuel = NULL ;
    SET @NonFuel = NULL ;
    SET @FuelAdj = NULL ;
    SET @CoastalConnectFlag = 0 ;

    SELECT @BUID = BUID FROM FlexjetOwnerContract WHERE ContractID = @ContractID ;

    IF @SegmentActualID IS NOT NULL --SegmentActualID overrides LegID as it is more precise
    BEGIN
        SET @LegID = NULL ;
    END ;

    -- if only LegID or SegmentActualID is given populate the other required parms
    IF (@LegID IS NOT NULL OR @SegmentActualID IS NOT NULL)
    --   AND ISNULL(@SourceRoutine,'') <> 'B2C'  --This no longer applies in FlexBilling for getting rates 20160524 JPD
    BEGIN
        SELECT @SegmentActualID       = sa.SegmentActualID,
               @LegID                 = sa.SegmentID,
               @ContractID            = sa.ContractID,
               @OwnedProgramID        = sa.OwnedProgramID,
               @FlownProgramID        = sa.ActualProgramID,
               @RequestedProgramID    = sa.RequestedProgramID,
               @TimeOff               = dbo.udfZuluDate(IsNull(sa.Timeoff, sa.ScheduledOut), 0, da.TimezoneID, IsNull(sa.Timeoff, sa.ScheduledOut)),
               @DemoFlag              = th.DemoFlag,
               @FarPartID             = sa.FarPartID,
               @SegmentTypeID         = sa.SegmentTypeID,
               @FlightHours           = CASE
                                            WHEN c.BUID <> 4
                                            THEN Round(Convert(FLOAT, DateDiff(MI, sa.TimeOff, sa.TimeOn) + 2) / 60, 1)
                                            ELSE Round(Convert(FLOAT, DateDiff(MI, sa.TimeOff, sa.TimeOn)) / 60, 1)
                                        END,
               @MarketingProgramID    = c.MarketingProgramID,
               @Guarantee             = IsNull(fd.UpDownGradeID, 0),
               @CalculationSeriesID   = c.CalculationSeriesID,
               @CalculationSeriesDate = c.CalculationSeriesDate,
               @OwnedAircraftID       = c.AircraftID,
               @FlownAircraftID       = sa.AircraftID,
               @SAProcessStatusID     = sa.SAProcessStatusID,
               @MUDiscACFlag          = IsNull(lix.ActiveFlag, 0),
               @DepAirportID          = sa.DepAirportID,
               @ArrAirportID          = sa.ArrAirportID
          FROM SegmentActual sa
              JOIN FlightData fd ON fd.LegID                     = sa.SegmentID
              JOIN TripHeader th ON sa.TripNumber                = th.TripNumber
              JOIN FlexjetOwnerContract c ON sa.ContractID       = c.ContractID
              JOIN Airport da ON da.AirportID                    = sa.DepAirportID
              LEFT OUTER JOIN SegmentDetail sd ON sa.SegmentID   = sd.LegID
              LEFT OUTER JOIN LegIssueXref lix ON lix.LegID      = fd.LegID
                                              AND lix.ActiveFlag = 1
                                              AND lix.IssueID    = 37
         WHERE ( sa.SegmentID      = @LegID
              OR @LegID IS NULL)
           AND ( sa.SegmentActualID = @SegmentActualID
              OR @SegmentActualID IS NULL) ;

        IF @LegID IS NOT NULL
       AND @ContractID IS NULL --no data was found, get from MasterSchedule
        BEGIN
            SELECT @SegmentActualID       = -1,
                   @ContractID            = fd.ContractID,
                   @OwnedProgramID        = fd.OwnedFJPID,
                   @FlownProgramID        = fd.RequestedFJPID,
                   @RequestedProgramID    = fd.RequestedFJPID,
                   @TimeOff               = dbo.udfZuluDate(fd.ScheduledOut, 0, da.TimezoneID, fd.ScheduledOut),
                   @DemoFlag              = th.DemoFlag,
                   @FarPartID             = fd.FarPartID,
                   @SegmentTypeID         = fd.LegTypeID,
                   @FlightHours           = CASE
                                                WHEN c.BUID <> 4
                                                THEN Round(Convert(FLOAT, DateDiff(MI, fd.ScheduledOut, fd.ScheduledIn) + 2) / 60, 1)
                                                ELSE Round(Convert(FLOAT, DateDiff(MI, fd.ScheduledOut, fd.ScheduledIn)) / 60, 1)
                                            END,
                   @MarketingProgramID    = c.MarketingProgramID,
                   @Guarantee             = IsNull(fd.UpDownGradeID, 0),
                   @CalculationSeriesID   = c.CalculationSeriesID,
                   @CalculationSeriesDate = c.CalculationSeriesDate,
                   @OwnedAircraftID       = c.AircraftID,
                   @FlownAircraftID       = c.AircraftID,
                   @SAProcessStatusID     = 0,
                   @MUDiscACFlag          = IsNull(lix.ActiveFlag, 0),
                   @DepAirportID          = fd.SchedDepartureAirportID,
                   @ArrAirportID          = fd.SchedArrivalAirportID
              FROM FlightData fd
                  JOIN TripHeader th ON fd.TripID                         = th.TripID
                                    AND fd.LegID                          = @LegID
                  JOIN Airport da ON da.AirportID                         = fd.SchedDepartureAirportID
                  LEFT OUTER JOIN FlexjetOwnerContract c ON fd.ContractID = c.ContractID
                  LEFT OUTER JOIN LegIssueXref lix ON lix.LegID           = fd.LegID
                                                  AND lix.ActiveFlag      = 1
                                                  AND lix.IssueID         = 37 ;
        END ;

        IF @DemoFlag = 1
        BEGIN
            EXEC uspBilledHours_Get @SegmentActualID, @LegID, @ContractID, @FlownProgramID, @SegmentTypeID, @FlightHours, @BilledHours OUTPUT ;
        END ;

        IF @RequestedProgramID > 0
        BEGIN
            SELECT @FlownProgramID = dbo.udfBilledACType(@Guarantee, @OwnedProgramID, @RequestedProgramID, @FlownProgramID, @MUDiscACFlag) ;
        --SELECT @FlownProgramID FlownProgramID;
        END ;

        -- if the marketingprogram is the L40 (new or old /IDs=12,22,28)
        -- then need to determine if any 45 hours are still remaining
        IF @MarketingProgramID IN (12, 22, 28)
        BEGIN
            -- get the balance for the 45 hours
            SELECT @Balance = MaxHoursAvail - TotalHoursUsed
              FROM ContractUsageSummary
             WHERE ContractID       = @ContractID
               AND CurrentYearFlag  = 1
               AND FlexjetProgramID = 7 ;

            -- Old L40, L45 hours = 15, all upgrade/downgrades based on 31 and once 45 hours
            -- are used a 45 is also upgrade
            IF @MarketingProgramID IN (12, 22)
            BEGIN
                IF @Balance > 0
               AND @FlownProgramID = 7
                BEGIN
                    SET @OwnedProgramID = 7 ;
                END ;
                ELSE
                BEGIN
                    SET @OwnedProgramID = 1 ;
                END ;
            END ;
            -- New L40, L45 hours = 25, until hours are used VR based on 45, 
            -- then upgrade/downgrades based on 31
            ELSE IF @MarketingProgramID = 28
            BEGIN
                IF @Balance > 0
               AND @FlownProgramID <> 1
                BEGIN
                    SET @OwnedProgramID = 7 ;
                END ;
                ELSE
                BEGIN
                    SET @OwnedProgramID = 1 ;
                END ;
            END ;
        END ;
    END ;

    SELECT @SeriesID              = fjoc.ContractSeriesID,
           @MarketingProgramID    = MarketingProgramID,
           @CalculationSeriesID   = CalculationSeriesID,
           @CalculationSeriesDate = CalculationSeriesDate
      FROM FlexjetOwnerContract fjoc
     WHERE ContractID = @ContractID ;

    SELECT @PrimarySeries = PrimarySeries FROM ContractSeries WHERE ContractSeriesID = @SeriesID ;

    SELECT @OwnedProgramRank = ProgramRank FROM FlexJetProgram WHERE FlexJetProgramID = @OwnedProgramID ;

    SELECT @FlownProgramRank = ProgramRank FROM FlexJetProgram WHERE FlexJetProgramID = @FlownProgramID ;

    SELECT @BillFromQuoteFlag = vl.HardQuoteFlag
      FROM FlightData fd
          JOIN VendorQuoteLeg vl ON fd.LegID      = vl.LegID
          JOIN VendorQuote vq ON vl.VendorQuoteID = vq.VendorQuoteID
                             AND vq.SelectedFlag  = 1
     WHERE fd.LegID = @LegID ;

    -- SKS 20220617:  Per CLeepow we are allowing users to select "flown" Euro AC
 ---- reset the programid if was a euro program
    --SELECT @FlownProgramID = EquivFJPID
    --  FROM FlexjetProgram
    -- WHERE FlexjetProgramID = @FlownProgramID
    --   AND EquivFJPID IS NOT NULL ;

    --get some basic info
    SELECT @FuelAdjDisc = ContractRate
      FROM ContractRate
     WHERE RateTypeID = 82 --Hourly Rate - FCA Discount
       AND @TimeOff
   BETWEEN BeginDate AND EndDate --in effect at time of flight
       AND ActiveFlag = 1 --not cancelled
       AND ContractID = @ContractID ;

    SELECT @AHPurchase = ContractRate
      FROM ContractRate
     WHERE RateTypeID = 104 --Additional Hour Purchase (VP buy rate)
       AND @TimeOff
   BETWEEN BeginDate AND EndDate --in effect at time of flight
       AND ActiveFlag = 1 --not cancelled
       AND ContractID = @ContractID ;

    SELECT @AHPremium = ContractRate
      FROM ContractRate
     WHERE RateTypeID = 105 --Additional hour premium
       AND @TimeOff
   BETWEEN BeginDate AND EndDate --in effect at time of flight
       AND ActiveFlag = 1 --not cancelled
       AND ContractID = @ContractID ;

    IF @LegID IS NOT NULL
   AND ( @DepAirportID IS NULL
      OR @ArrAirportID IS NULL)
    BEGIN
        SELECT @DepAirportID = fd.SchedDepartureAirportID,
               @ArrAirportID = fd.SchedArrivalAirportID
          FROM FlightData fd
         WHERE LegID = @LegID ;
    END ;

    SET @DebitCardFlag = dbo.udfValidateMPOption(@ContractID, 12) ;

    IF @DebitCardFlag = 1
    BEGIN
        SET @OwnedProgramID = @FlownProgramID ;
        SET @RequestedProgramID = @FlownProgramID ;

        SELECT @CoastalConnectFlag = 1
          FROM AirportSvcAreaXref da
              JOIN AirportSvcAreaXref aa ON aa.AirportID = @ArrAirportID
                                        AND aa.ServiceAreaID IN (6, 7) --mutually exclusive east/west zones
                                        AND da.AirportID = @DepAirportID
                                        AND da.ServiceAreaID IN (6, 7) --mutually exclusive east/west zones
              JOIN ContractRate cr ON cr.ContractID      = @ContractID
                                  AND cr.RateTypeID      = 227
                                  AND cr.ActiveFlag      = 1
                                  AND cr.ContractRate    = 1
                                  AND @TimeOff
                              BETWEEN cr.BeginDate AND cr.EndDate
         WHERE da.ServiceAreaID <> aa.ServiceAreaID --must cross zones
           AND @RequestedProgramID IN (11, 37) ; --added new FlexjetProgramID = 37 (Challenger 350), Curt 10/15/2015
    END ;

    SET @CommercialFlag = dbo.udfFETType(@ContractID, @TimeOff, @DemoFlag) ;
    SET @FCARateTypeID = CASE @CommercialFlag
                             WHEN 1
                             THEN 37
                             ELSE 217
                         END ;

    --check for contract level discount, fleet specific overrides non-fleet specific
    SELECT @BaseRateDiscP = cr.ContractRate / 100.00
      FROM ContractRate cr
     WHERE cr.ContractID   = @ContractID
       AND cr.RateTypeID   = 207 --loyalty rate discount %
       AND cr.ActiveFlag   = 1
       AND @TimeOff
   BETWEEN cr.BeginDate AND cr.EndDate --in effect at time of flight
       AND @OwnedProgramID = IsNull(cr.FlexjetProgramID, @OwnedProgramID)
     ORDER BY cr.FlexjetProgramID ;

    SET @BaseRateDiscP = IsNull(@BaseRateDiscP, 0) ; --the %

    --check for contract level discount, fleet specific overrides non-fleet specific
    SELECT @BaseRateDiscPromoP = cr.ContractRate / 100.00
      FROM ContractRate cr
     WHERE cr.ContractID   = @ContractID
       AND cr.RateTypeID   = 209 --promotional rate discount %
       AND cr.ActiveFlag   = 1
       AND @TimeOff
   BETWEEN cr.BeginDate AND cr.EndDate --in effect at time of flight
       AND @OwnedProgramID = IsNull(cr.FlexjetProgramID, @OwnedProgramID)
     ORDER BY cr.FlexjetProgramID ;

    SET @BaseRateDiscPromoP = IsNull(@BaseRateDiscPromoP, 0) ; --the %

    -- determine if peak day (Flexjet only) and set peak day premium 
    -- MAV 20160515 - Work Item # 4457
    IF EXISTS (SELECT 'x'
                 FROM FlexjetOwnerContract fjoc
                     INNER JOIN synFOCalendar_Years calyr ON fjoc.CalendarID                                    = calyr.Calendar_Id
                                                         AND Format(@TimeOff, 'yyyy')                           = calyr.CalendarYr_Year
                                                         AND calyr.CalendarYr_Status                            = 0
                     INNER JOIN synFOCalendar_Dates caldt ON calyr.CalendarYr_Id                                = caldt.CalendarYr_Id
                                                         AND Convert(DATETIME, Convert(VARCHAR, @TimeOff, 101)) = caldt.CalendarDt_Date -- Flexjet demand day
                                                         AND caldt.CalendarDt_Status                            = 0
                                                         AND caldt.CalendarDt_PeakLvl                           in ('PEAK','HEAVY')  --Added HEAVY per Christine 2017-11-02
                WHERE fjoc.ContractID = @ContractID
                  AND fjoc.BUID       = 1
                  AND @SeriesID NOT IN (16, 17, 18)) -- Not a charter

    BEGIN
        SET @PeakDayFlag = 1 ;

        --check for contract level premium, fleet specific overrides non-fleet specific
        SELECT @PeakDayPremium = cr.ContractRate / 100.00
          FROM ContractRate cr
         WHERE cr.ContractID   = @ContractID
           AND cr.RateTypeID   = 206
           AND cr.ActiveFlag   = 1
           AND @TimeOff
       BETWEEN cr.BeginDate AND cr.EndDate
           AND @OwnedProgramID = IsNull(cr.FlexjetProgramID, @OwnedProgramID)
         ORDER BY cr.FlexjetProgramID ;
    END ;

    SET @PeakDayPremium = IsNull(@PeakDayPremium, 0) ;

    --premium pricing is only in effect if: (1) premium pricing is enabled for contract
    --                                      (2) premium rate is available for "flown" program
    --                                      (3) D to E processing has a "Premium Pricing Applied" SegmentIdentifier record
    SET @PremiumFlag = CASE
                           --premium pricing is NOT enabled for contract means no premium pricing
                           WHEN NOT EXISTS (SELECT 'x'
                                              FROM dbo.ContractRate AS cr
                                             WHERE cr.RateTypeID   = 74 --Premium Pricing Applied
                                               AND cr.ActiveFlag   = 1 --not cancelled
                                               AND cr.ContractRate = 1 --enabled
                                               AND cr.ContractID   = @ContractID --current ContractID
                                               AND @TimeOff
                                           BETWEEN cr.BeginDate AND cr.EndDate) --in effect at time of flight
                           THEN 0
                           --premium rate is NOT available for "flown" program means no premium pricing
                           WHEN NOT EXISTS (SELECT 'x'
                                              FROM dbo.ProgramRate AS pr
                                             WHERE pr.MarketingProgramID = 24 --S3VP marketing program
                                               AND pr.RateTypeID         = 73 --Premium Rate
                                               AND pr.ActiveFlag         = 1 --not cancelled
                                               AND pr.FlexjetProgramID   = @FlownProgramID --"flown" program (actually more like "billed" program)
                                               AND pr.ComparisonProgramID IS NULL --no comparison program
                                               AND @TimeOff
                                           BETWEEN pr.BeginDate AND pr.EndDate) --in effect at time of flight
                           THEN 0
                           --premium rate is NOT available if called by D to E processing 
                           --and segment is NOT marked as Premium Pricing Applied override
                           WHEN @SAProcessStatusID = 4
                            AND @SegmentActualID IS NOT NULL
                            AND NOT EXISTS (SELECT 'x'
                                              FROM dbo.SegmentIdentifier
                                             WHERE SegmentActualID        = @SegmentActualID
                                               AND SegmentIdentifierTagID = 12
                                               AND ActiveFlag             = 1)
                           THEN 0
                           ELSE 1
                       END ;

    --select @Flownprogramid flown, @ownedprogramid owned, @ownedprogramRank orank, @flownprogramrank frank,
    --	@SeriesID SeriesID, @MarketingProgramID mpid, @CalculationSeriesID CalcSeries, @CalculationSeriesDate CalcSeriesDate, @ContractID ContractID

    --PRINT commands added by Curt, 12/9/15:
    IF @PrintDebug = 1
    BEGIN
        PRINT 'uspVariableRate_Get:(not Demo):@DemoFlag = ' + Cast(@DemoFlag AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@BillFromQuoteFlag = ' + Cast(@BillFromQuoteFlag AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@PremiumFlag = ' + Cast(@PremiumFlag AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@PrimarySeries = ' + Cast(@PrimarySeries AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@OwnedProgramRank = ' + Cast(@OwnedProgramRank AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@FlownProgramRank = ' + Cast(@FlownProgramRank AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@MarketingProgramID = ' + Cast(@MarketingProgramID AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@ContractID = ' + Cast(@ContractID AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@DebitCardFlag = ' + Cast(@DebitCardFlag AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@OwnedProgramID = ' + Cast(@OwnedProgramID AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@RequestedProgramID = ' + Cast(@RequestedProgramID AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@FlownProgramID = ' + Cast(@FlownProgramID AS VARCHAR(10)) ;
        PRINT 'uspVariableRate_Get:(not Demo):@TimeOff = ' + Cast(@TimeOff AS VARCHAR(20)) ;
    END ;

    IF @DemoFlag = 1
    --
    --This is a demo trip segment
    --
    BEGIN
        -- if non-VP, etc., then use Series 5 Commerical FCA
        --
        IF @MarketingProgramID NOT IN (24, 26, 30)
       AND @TimeOff >= '2014-06-01 00:00:00'
        BEGIN
            SELECT @FarPartName = FarPartName FROM FarPart WHERE FarPartID = @FarPartID ;

            SELECT @Fuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = @MarketingProgramID
               AND pr.RateTypeID         = 35 --FuelComponent
               AND pr.ActiveFlag         = 1
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND pr.ComparisonProgramID IS NULL
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            SELECT @NonFuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = @MarketingProgramID
               AND pr.RateTypeID         = 36 -- NonFuelComponent
               AND pr.ActiveFlag         = 1
               AND pr.ComparisonProgramID IS NULL
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            SELECT @BaseFuel = VariableValue
              FROM GlobalVariables
             WHERE GlobalVariableTypeID = 1
               AND @TimeOff
           BETWEEN BeginDate AND EndDate
               AND ContractSeriesID     = 19 ;
            --
            SELECT @BCA = VariableValue
              FROM GlobalVariables
             WHERE GlobalVariableTypeID = 2
               AND @TimeOff
           BETWEEN BeginDate AND EndDate ;
            --
            SELECT @Diesel = VariableValue
              FROM GlobalVariables
             WHERE GlobalVariableTypeID = 7
               AND @TimeOff
           BETWEEN BeginDate AND EndDate ;
            --
            SELECT @VOD = VariableValue
              FROM GlobalVariables
             WHERE GlobalVariableTypeID = 17
               AND @TimeOff
           BETWEEN BeginDate AND EndDate
               AND FCAFormulaID IN (9, 16) ; --Added handling for new Series 7 non-commercial FCAFormulaID (Curt, 4/19/2016)
            --
            SELECT @FET = VariableValue
              FROM dbo.GlobalVariables
             WHERE GlobalVariableTypeID = 9
               AND @TimeOff
           BETWEEN BeginDate AND EndDate ;
            --
            SELECT @HFUK = VariableValue
              FROM dbo.GlobalVariables
             WHERE GlobalVariableTypeID = 27
               AND @TimeOff
           BETWEEN BeginDate AND EndDate
               AND FlexjetProgramID     = @FlownProgramID
               AND FCAFormulaID IN (9, 16) ; --Added handling for new Series 7 non-commercial FCAFormulaID, just in case HFUK is different for Series 7 someday (Curt, 4/19/2016)
            --
            SET @FuelAdj = Round((@BCA - @Diesel - @VOD - @FET - @BaseFuel) * @HFUK, 0) - @FuelAdjDisc ;

            --increase brochure rate by DemoRatePct
            SELECT @BaseRateWorking = Convert(INT, Round((@Fuel + @NonFuel) * (1 + DemoRatePct), 2))
              FROM FlexjetProgram
             WHERE FlexjetProgramID = @FlownProgramID ;

            --set the resulting base rate to end in either 5 or 0, round normal
            SET @BaseRateWorking = CASE
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (1, 2) --round down to 0
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (3, 4, 6, 7) --round up or down to 5
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking + 5
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (8, 9) --round up to next 0
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking + 10
                                       ELSE @BaseRateWorking
                                   END ;

            SET @NonFuel = @BaseRateWorking - @Fuel ;

            SET @VariableRate = @Fuel + @NonFuel + @FuelAdj ;
            SET @VariableRemark
                = @VariableRemark + 'Demo Trip Rates used:' + Char(13) + Char(10) + 'Fuel Component = ' + Convert(VARCHAR, @Fuel) + Char(13) + Char(10)
                  + 'Non-Fuel Component = ' + Convert(VARCHAR, @NonFuel) + Char(13) + Char(10) + 'Fuel Adjustment = ' + Convert(VARCHAR, @FuelAdj)
                  + CASE
                        WHEN @FuelAdjDisc > 0
                        THEN ' (Fuel Adj Disc of ' + Convert(VARCHAR, @FuelAdjDisc) + ' applied)'
                        ELSE ''
                    END + Char(13) + Char(10) + 'Total Rate = ' + Convert(VARCHAR, @VariableRate) ;

            SET @BaseRate = @VariableRate ;
            SET @Ratio = 1 ;
        END ;
        ELSE
        BEGIN
            SELECT @FarPartName = FarPartName FROM FarPart WHERE FarPartID = @FarPartID ;

            SELECT @Fuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = 24 --S3VP
               AND pr.RateTypeID         = 35 --FC
               AND pr.ActiveFlag         = 1
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND pr.ComparisonProgramID IS NULL
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            SELECT @NonFuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = 24 --S3VP
               AND pr.RateTypeID         = 36
               AND pr.ActiveFlag         = 1
               AND pr.ComparisonProgramID IS NULL
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            SELECT @FuelAdj = ProgramRate - @FuelAdjDisc
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = 24 --S3VP
               AND pr.RateTypeID         = @FCARateTypeID
               AND pr.ComparisonProgramID IS NULL
               AND pr.ActiveFlag         = 1
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            --increase brochure rate by DemoRatePct
            SELECT @BaseRateWorking = Convert(INT, Round((@Fuel + @NonFuel) * (1 + DemoRatePct), 2))
              FROM FlexjetProgram
             WHERE FlexjetProgramID = @FlownProgramID ;

            --set the resulting base rate to end in either 5 or 0, round normal
            SET @BaseRateWorking = CASE
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (1, 2) --round down to 0
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (3, 4, 6, 7) --round up or down to 5
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking + 5
                                       WHEN Right(Convert(INT, @BaseRateWorking), 1) IN (8, 9) --round up to next 0
                                       THEN (-1 * Right(Convert(INT, @BaseRateWorking), 1)) + @BaseRateWorking + 10
                                       ELSE @BaseRateWorking
                                   END ;

            SET @NonFuel = @BaseRateWorking - @Fuel ;

            SET @VariableRate = @Fuel + @NonFuel + @FuelAdj ;
            SET @VariableRemark
                = @VariableRemark + 'Demo Trip Rates used:' + Char(13) + Char(10) + 'Fuel Component = ' + Convert(VARCHAR, @Fuel) + Char(13) + Char(10)
                  + 'Non-Fuel Component = ' + Convert(VARCHAR, @NonFuel) + Char(13) + Char(10) + 'Fuel Adjustment = ' + Convert(VARCHAR, @FuelAdj)
                  + CASE
                        WHEN @FuelAdjDisc > 0
                        THEN ' (Fuel Adj Disc of ' + Convert(VARCHAR, @FuelAdjDisc) + ' applied)'
                        ELSE ''
                    END + Char(13) + Char(10) + 'Total Rate = ' + Convert(VARCHAR, @VariableRate) ;

            SET @BaseRate = @VariableRate ;
            SET @Ratio = 1 ;

        END ;

    END ; -- section for demo trip segments

    --
    -- It  was not a demo 
    --
    ELSE IF @ContractID IN (7569, 11465)
    BEGIN -- section for NYLife contracts
        IF @OwnedAircraftID = @FlownAircraftID --Managed - NYL, on owned tail 
        BEGIN --for all these, get contract-level owned rates
            --get FC from contract-level active on day of flight based on owned
            SELECT @Fuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = 35 --FC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get NFC from contract-level active on day of flight based on owned
            SELECT @NonFuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get FCA from contract-level active on day of flight based on owned
            SELECT @FuelAdj = ContractRate - Coalesce(@FuelAdjDisc, 0)
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = 217 --FCA
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

        END ;
        ELSE
        BEGIN
            --get FC from contract-level active on day of flight based on owned
            SELECT @Fuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.marketingprogramid IN (383) --(SELECT pr.MarketingProgramID FROM dbo.MarketingProgram AS MP WHERE MP.ContractSeriesID = 12)
               AND pr.RateTypeID       = 35 --FC
               AND pr.ActiveFlag       = 1
               AND pr.FlexjetProgramID = @RequestedProgramID
               AND pr.ComparisonProgramID IS NULL
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;
            --get NFC from contract-level active on day of flight based on owned
            SELECT @NonFuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.marketingprogramid IN (383) --(SELECT pr.MarketingProgramID FROM dbo.MarketingProgram AS MP WHERE MP.ContractSeriesID = 12)
               AND pr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC --NFC
               AND pr.ActiveFlag       = 1
               AND pr.FlexjetProgramID = @RequestedProgramID
               AND pr.ComparisonProgramID IS NULL
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            --get FCA from contract-level active on day of flight based on owned
            SELECT @FuelAdj = ProgramRate -- Coalesce(@FuelAdjDisc,0)
              FROM ProgramRate pr
             WHERE pr.marketingprogramid IN (383) --(SELECT pr.MarketingProgramID FROM dbo.MarketingProgram AS MP WHERE MP.ContractSeriesID = 12)
               AND pr.RateTypeID       = 217 --FCA
               AND pr.ActiveFlag       = 1
               AND pr.FlexjetProgramID = @RequestedProgramID
               AND pr.ComparisonProgramID IS NULL
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;
        END ;

        IF @Fuel IS NULL
        OR @NonFuel IS NULL
        OR @FuelAdj IS NULL --Just incase not all rates were found
        BEGIN
            SELECT @Fuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = 35 --FC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get NFC from contract-level active on day of flight based on owned
            SELECT @NonFuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get FCA from contract-level active on day of flight based on owned
            SELECT @FuelAdj = ContractRate - Coalesce(@FuelAdjDisc, 0)
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = 217 --FCA
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = 2
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;
        END ;

        SET @VariableRate = @Fuel + @NonFuel + @FuelAdj ;
        SET @VariableRemark
            = @VariableRemark + 'Trip Rates used:' + Char(13) + Char(10) + 'Fuel Component = ' + Convert(VARCHAR, @Fuel) + Char(13) + Char(10)
              + 'Non-Fuel Component = ' + Convert(VARCHAR, @NonFuel) + Char(13) + Char(10) + 'Fuel Adjustment = ' + Convert(VARCHAR, @FuelAdj)
              + CASE
                    WHEN @FuelAdjDisc > 0
                    THEN ' (Fuel Adj Disc of ' + Convert(VARCHAR, @FuelAdjDisc) + ' applied)'
                    ELSE ''
                END + Char(13) + Char(10) + 'Total Rate = ' + Convert(VARCHAR, @VariableRate) ;

        SET @BaseRate = @VariableRate ;

        IF @PrintDebug = 1
        BEGIN
            PRINT 'should have proper ratio now (ha!!), @Ratio = ' + IsNull(Cast(@Ratio AS VARCHAR(10)), 'NULL') + '; @VariableRemark = '
                  + IsNull(@VariableRemark, 'NULL') ;
        END ;

    END ; -- section for NYLife contracts
    ELSE
    BEGIN
        IF @BillFromQuoteFlag = 1
        BEGIN
            SELECT @Fuel = ContractRate
              FROM ContractRate
             WHERE ContractID       = @ContractID
               AND ActiveFlag       = 1
               AND RateTypeID       = 35
               AND FlexjetProgramID = @OwnedProgramID
               AND @TimeOff
           BETWEEN BeginDate AND EndDate ;

            IF @Fuel IS NULL
            BEGIN
                SELECT @Fuel = ProgramRate
                  FROM FlexjetOwnerContract fjoc
                      JOIN ProgramRate pr ON fjoc.MarketingProgramID = pr.MarketingProgramID
                 WHERE fjoc.ContractID     = @ContractID
                   AND pr.RateTypeID       = 35 --FC
                   AND pr.ActiveFlag       = 1
                   AND pr.FlexjetProgramID = @OwnedProgramID
                   AND pr.ComparisonProgramID IS NULL
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;
            END ;

            SELECT @NonFuel = vl.BaseRate - @Fuel,
                   @FuelAdj = vl.FCARate
              FROM FlightData fd
                  JOIN VendorQuoteLeg vl ON fd.LegID      = vl.LegID
                  JOIN VendorQuote vq ON vl.VendorQuoteID = vq.VendorQuoteID
                                     AND vq.SelectedFlag  = 1
             WHERE fd.LegID = @LegID ;
        END ;
        ELSE
        IF @PremiumFlag = 1 --Premium Pricing Flag trumps all others
        BEGIN --get Premium Pricing rate for AC flown from S3 VP contract
            SELECT @NonFuel = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID = 24 --S3VP
               AND pr.RateTypeID         = 73 --Premium Rate
               AND pr.ActiveFlag         = 1
               AND pr.ComparisonProgramID IS NULL
               AND pr.FlexjetProgramID   = @FlownProgramID
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;

            --for premium pricing, all is stored as the NonFuel
            SET @PremiumAppliedFlag = 1 ;
            SET @Fuel = 0 ;
            SET @FuelAdj = 0 ;
        END ;
        ELSE -- If Series 1 non up/dn or Series 2 or 3 excluding VP/VPP/MAs or MA Boca no u/d or MA NYLife not on owned tail, get contract VR for owned
        IF ( @PrimarySeries = 1
         AND @OwnedProgramRank = @FlownProgramRank) --Series 1 regular
        OR ( @PrimarySeries IN (2, 3, 4, 19, 20, 21, 22, 23)
         AND @MarketingProgramID NOT IN (24, 26, 30, 27)
         AND @ContractID <> 11465) --Series 2 or 3 (up/dn or not) excluding VP,VPP and MA
        OR ( @ContractID = 6919
         AND @OwnedProgramRank = @FlownProgramRank) --Managed - Boca, not up/downgrade
        --OR (@ContractID IN (7569,11465) AND @OwnedAircraftID = @FlownAircraftID) --Managed - NYL, on owned tail 
        BEGIN --for all these, get contract-level owned rates
            --get FC from contract-level active on day of flight based on owned
            SELECT @Fuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = 35 --FC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = @OwnedProgramID
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get NFC from contract-level active on day of flight based on owned
            SELECT @NonFuel = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = @OwnedProgramID
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            --get FCA from contract-level active on day of flight based on owned
            SELECT @FuelAdj = ContractRate - @FuelAdjDisc
              FROM ContractRate cr
             WHERE cr.ContractID       = @ContractID
               AND cr.RateTypeID       = @FCARateTypeID --FCA
               AND cr.ActiveFlag       = 1
               AND cr.FlexjetProgramID = @OwnedProgramID
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            IF @Fuel IS NULL
            OR @NonFuel IS NULL
            OR @FuelAdj IS NULL
            -- at least one not active on contract day of flight
            -- check to see if the contract has a calculation series
            BEGIN
                SELECT @Fuel = ContractRate
                  FROM ContractRate cr
                      JOIN FlexjetOwnerContract c ON cr.ContractID                      = c.ContractID
                      JOIN dbo.MarketingFlexjetProgramXref AS x ON x.MarketingProgramID = c.CalculationSeriesID
                                                               AND x.PrimaryProgramFlag = 1
                                                               --this NOT EXISTS causes the JOIN to find only Max(FlexjetProgramID) if there are two programs marked as primary
                                                               AND NOT EXISTS (SELECT 'x'
                                                                                 FROM dbo.MarketingFlexjetProgramXref AS x2
                                                                                WHERE x2.MarketingProgramID = x.MarketingProgramID
                                                                                  AND x2.PrimaryProgramFlag = x.PrimaryProgramFlag
                                                                                  AND x2.FlexjetProgramID   > x.FlexjetProgramID)
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = 35 --FC
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = x.FlexjetProgramID
                   --AND cr.FlexjetProgramID = @OwnedProgramID  --*** Commented-out by Curt, 12/9/2015
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;

                SELECT @NonFuel = ContractRate
                  FROM ContractRate cr
                      JOIN FlexjetOwnerContract c ON cr.ContractID                      = c.ContractID
                      JOIN dbo.MarketingFlexjetProgramXref AS x ON x.MarketingProgramID = c.CalculationSeriesID
                                                               AND x.PrimaryProgramFlag = 1
                                                               --this NOT EXISTS causes the JOIN to find only Max(FlexjetProgramID) if there are two programs marked as primary
                                                               AND NOT EXISTS (SELECT 'x'
                                                                                 FROM dbo.MarketingFlexjetProgramXref AS x2
                                                                                WHERE x2.MarketingProgramID = x.MarketingProgramID
                                                                                  AND x2.PrimaryProgramFlag = x.PrimaryProgramFlag
                                                                                  AND x2.FlexjetProgramID   > x.FlexjetProgramID)
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = x.FlexjetProgramID
                   --AND cr.FlexjetProgramID = @OwnedProgramID  --*** Commented-out by Curt, 12/9/2015
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;

                SELECT @FuelAdj = ContractRate - @FuelAdjDisc
                  FROM ContractRate cr
                      JOIN FlexjetOwnerContract c ON cr.ContractID                      = c.ContractID
                      JOIN dbo.MarketingFlexjetProgramXref AS x ON x.MarketingProgramID = c.CalculationSeriesID
                                                               AND x.PrimaryProgramFlag = 1
                                                               --this NOT EXISTS causes the JOIN to find only Max(FlexjetProgramID) if there are two programs marked as primary
                                                               AND NOT EXISTS (SELECT 'x'
                                                                                 FROM dbo.MarketingFlexjetProgramXref AS x2
                                                                                WHERE x2.MarketingProgramID = x.MarketingProgramID
                                                                                  AND x2.PrimaryProgramFlag = x.PrimaryProgramFlag
                                                                                  AND x2.FlexjetProgramID   > x.FlexjetProgramID)
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = @FCARateTypeID
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = x.FlexjetProgramID
                   --AND cr.FlexjetProgramID = @OwnedProgramID  --*** Commented-out by Curt, 12/9/2015
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;
            END ;

            IF @Fuel IS NULL
            OR @NonFuel IS NULL
            OR @FuelAdj IS NULL
            -- at least one not active on contract day of flight
            -- get program-level default
            BEGIN
                SELECT @Fuel = ProgramRate
                  FROM FlexjetOwnerContract fjoc
                      JOIN ProgramRate pr ON fjoc.MarketingProgramID = pr.MarketingProgramID
                 WHERE fjoc.ContractID     = @ContractID
                   AND pr.RateTypeID       = 35 --FC
                   AND pr.ActiveFlag       = 1
                   AND pr.FlexjetProgramID = @OwnedProgramID
                   AND pr.ComparisonProgramID IS NULL
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @NonFuel = ProgramRate
                  FROM FlexjetOwnerContract fjoc
                      JOIN ProgramRate pr ON fjoc.MarketingProgramID = pr.MarketingProgramID
                 WHERE fjoc.ContractID     = @ContractID
                   AND pr.RateTypeID       = Iif(@CoastalConnectFlag = 0, 36, 226) --NFC
                   AND pr.ActiveFlag       = 1
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.FlexjetProgramID = @OwnedProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @FuelAdj = ProgramRate - @FuelAdjDisc
                  FROM FlexjetOwnerContract fjoc
                      JOIN ProgramRate pr ON fjoc.MarketingProgramID = pr.MarketingProgramID
                 WHERE fjoc.ContractID     = @ContractID
                   AND pr.RateTypeID       = @FCARateTypeID
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.ActiveFlag       = 1
                   AND pr.FlexjetProgramID = @OwnedProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;
            END ;

            IF @Fuel IS NULL
            OR @NonFuel IS NULL
            OR @FuelAdj IS NULL
            -- no value at contract level or program level (i.e. core hour at current rates)
            -- get brochure S3 rate
            BEGIN
                SELECT @Fuel = ProgramRate
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = 35 --FC
                   AND pr.ActiveFlag         = 1
                   AND pr.FlexjetProgramID   = @OwnedProgramID
                   AND pr.ComparisonProgramID IS NULL
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @NonFuel = ProgramRate
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = 36
                   AND pr.ActiveFlag         = 1
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.FlexjetProgramID   = @OwnedProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @FuelAdj = ProgramRate - @FuelAdjDisc
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = @FCARateTypeID
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.ActiveFlag         = 1
                   AND pr.FlexjetProgramID   = @OwnedProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;
            END ;
        END ;
        ELSE --if VP/VPP or Managed up/dn (Boca) or Managed not on tail (NYL) or S1 up/dn
        IF ( (  @PrimarySeries = 1
           AND  @OwnedProgramRank <> @FlownProgramRank) --Series 1 up/dn
          OR (@MarketingProgramID IN (24, 26, 30)) --Series 2 or 3 VP and VPPs
          OR ( @ContractID = 6919
           AND @OwnedProgramRank <> @FlownProgramRank)) --Managed - Boca, up/dn
       --OR (@ContractID IN (7569,11465) AND @OwnedAircraftID <> @FlownAircraftID --Managed - NYL, not on owned tail 
       AND ( @Fuel IS NULL
          OR @NonFuel IS NULL
          OR @FuelAdj IS NULL)
        BEGIN --for all these, get current S3 brochure rates based on flown aircraft
            --PRINT command added by Curt, 12/9/2015:
            IF @PrintDebug = 1
            BEGIN
                PRINT 'VP/VPP or Managed up/dn (Boca) or Managed not on tail (NYL) or S1 up/dn' ;
            END ;
            IF @MarketingProgramID IN (24, 26, 30)
           AND @OwnedProgramRank = @FlownProgramRank
            BEGIN --check for contract-level rates for VPP first
                --get FC from contract-level active on day of flight based on owned
                SELECT @Fuel = ContractRate
                  FROM ContractRate cr
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = 35 --FC
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = @OwnedProgramID
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;

                --get NFC from contract-level active on day of flight based on owned
                SELECT @NonFuel = ContractRate
                  FROM ContractRate cr
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = 36 --NFC
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = @OwnedProgramID
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;

                --get FCA from contract-level active on day of flight based on owned
                SELECT @FuelAdj = ContractRate - Coalesce(@FuelAdjDisc, 0)
                  FROM ContractRate cr
                 WHERE cr.ContractID       = @ContractID
                   AND cr.RateTypeID       = @FCARateTypeID --FCA
                   AND cr.ActiveFlag       = 1
                   AND cr.FlexjetProgramID = @OwnedProgramID
                   AND @TimeOff
               BETWEEN cr.BeginDate AND cr.EndDate ;
            END ;

            IF NOT ( @MarketingProgramID IN (24, 26, 30)
                 AND @OwnedProgramRank = @FlownProgramRank)
            OR ( @MarketingProgramID IN (24, 26, 30)
             AND @OwnedProgramRank = @FlownProgramRank
             AND ( @Fuel IS NULL
                OR @NonFuel IS NULL
                OR @FuelAdj IS NULL)) --went through first criteria and didn't find a contract-level value
            BEGIN --get these from the Series 3 brochure rates based on aircraft flown
                --we use the VP program to get the S3 brochure rates
                SELECT @Fuel = ProgramRate
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = 35 --FC
                   AND pr.ActiveFlag         = 1
                   AND pr.FlexjetProgramID   = @FlownProgramID
                   AND pr.ComparisonProgramID IS NULL
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @NonFuel = ProgramRate
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = 36
                   AND pr.ActiveFlag         = 1
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.FlexjetProgramID   = @FlownProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;

                SELECT @FuelAdj = ProgramRate - @FuelAdjDisc
                  FROM ProgramRate pr
                 WHERE pr.MarketingProgramID = 24 --S3VP
                   AND pr.RateTypeID         = @FCARateTypeID
                   AND pr.ComparisonProgramID IS NULL
                   AND pr.ActiveFlag         = 1
                   AND pr.FlexjetProgramID   = @FlownProgramID
                   AND @TimeOff
               BETWEEN pr.BeginDate AND pr.EndDate ;
            END ;

        END ;

        --PRINT command added by Curt, 12/9/2015:
        IF @PrintDebug = 1
        BEGIN
            PRINT '@VariableRemark =''DO NOT PROCEED with processing this segment.  Contact the Contracts Department to have the appropriate rate loaded into the system''' ;
        END ;

        --should have a VR for all scenarios now
        IF @Fuel IS NULL
        OR @NonFuel IS NULL
        OR @FuelAdj IS NULL
        -- still at least one value missing, generate error
        BEGIN
            SET @VariableRemark = 'Missing Contract Rates: ' ; --DO NOT PROCEED with processing this segment.  Contact the Contracts Department to have the appropriate rate loaded into the system'

            IF @Fuel IS NULL
            BEGIN
                SET @VariableRemark
                    = @VariableRemark + Char(13) + Char(10) + 'BEGIN ISSUE:Missing Fuel Component (LegID ' + Cast(@LegID AS VARCHAR(20)) + '):END ISSUE' ;
            END ;

            IF @NonFuel IS NULL
            BEGIN
                IF @PremiumFlag = 1
                BEGIN
                    SET @VariableRemark
                        = @VariableRemark + Char(13) + Char(10) + 'BEGIN ISSUE:Missing NonFuel Component - Premium Pricing (LegID '
                          + Cast(@LegID AS VARCHAR(20)) + '):END ISSUE' ;
                END ;
                ELSE
                BEGIN
                    SET @VariableRemark
                        = @VariableRemark + Char(13) + Char(10) + 'BEGIN ISSUE:Missing NonFuel Component (LegID ' + Cast(@LegID AS VARCHAR(20)) + '):END ISSUE' ;
                END ;
            END ;

            IF @FuelAdj IS NULL
            BEGIN
                SET @VariableRemark
                    = @VariableRemark + Char(13) + Char(10) + 'BEGIN ISSUE:Missing Fuel Adjustment (LegID ' + Cast(@LegID AS VARCHAR(20)) + '):END ISSUE' ;
            END ;
        END ;
        ELSE --all okay with variable rate
        BEGIN
            --apply peak day premium, if necessary
            IF @PeakDayFlag = 1
           AND @PeakDayPremium > 0
            BEGIN
                --calc against total rate, apply to nfc only
                SET @NonFuel = Round((@NonFuel + @Fuel) * (1 + @PeakDayPremium), 0) - @Fuel ;

            END ;

            SET @NonFuel = @NonFuel + @AHPremium + @AHPurchase ;

            IF @BaseRateDiscPromoP > 0 --promo discount is available (and always applied first)
           AND @CoastalConnectFlag = 0 --not valid with Coastal Connect rates
            BEGIN
                --calc disc using base rate
                SET @BaseRateDiscPromo = Round((@NonFuel + @Fuel) * @BaseRateDiscPromoP, 0) ;
            END ;

            IF @BaseRateDiscP > 0 --discount is available
           AND @CoastalConnectFlag = 0 --not valid with Coastal Connect rates
            BEGIN
                --calc disc using base rate
                ----The old formula removed the @BaseRateDiscPromo amount amount before calculating the loyalty rate discount.  This changed with 29959.
                --SET @BaseRateDisc = ROUND((@NonFuel + @Fuel - @BaseRateDiscPromo) * @BaseRateDiscP,0)
                SET @BaseRateDisc = Round((@NonFuel + @Fuel) * @BaseRateDiscP, 0) ;
            END ;

            IF IsNull(@SourceRoutine, '') NOT IN ('B2C', 'D2E', 'C')
            BEGIN
                SET @VariableRate = @Fuel + @NonFuel + @FuelAdj - @BaseRateDisc - @BaseRateDiscPromo ;
            END ;
            ELSE
            BEGIN
                SET @VariableRate = @Fuel + @NonFuel + @FuelAdj ;
            END ;

            SET @BaseRate = @VariableRate ;

            IF @PremiumFlag = 1
            BEGIN
                SET @VariableRemark = @VariableRemark + '***Premium Pricing Applied***' + Char(13) + Char(10) ;
            END ;

            IF @CoastalConnectFlag = 1
            BEGIN
                SET @VariableRemark = @VariableRemark + '***Coastal Connect Pricing Applied***' + Char(13) + Char(10) ;
            END ;

            SET @VariableRemark
                = @VariableRemark + 'Fuel Component = ' + Convert(VARCHAR, @Fuel) + Char(13) + Char(10) + 'Non-Fuel Component = '
                  + Convert(VARCHAR, @NonFuel - @AHPremium - @AHPurchase) + Char(13) + Char(10) + 'Fuel Adjustment = ' + Convert(VARCHAR, @FuelAdj)
                  + CASE
                        WHEN @FuelAdjDisc > 0
                        THEN ' (Fuel Adj Disc of ' + Convert(VARCHAR, @FuelAdjDisc) + ' applied)'
                        ELSE ''
                    END + CASE
                              WHEN @AHPurchase > 0
                              THEN Char(13) + Char(10) + 'Hour Purchase = ' + Convert(VARCHAR, @AHPurchase)
                              ELSE ''
                          END + CASE
                                    WHEN @AHPremium > 0
                                    THEN Char(13) + Char(10) + 'Hour Premium = ' + Convert(VARCHAR, @AHPremium)
                                    ELSE ''
                                END
                  + CASE
                        WHEN @BaseRateDiscPromo > 0
                        THEN Char(13) + Char(10) + 'Base rate discount (promotional) = ' + Convert(VARCHAR, @BaseRateDiscPromo) + ' ('
                             + Convert(VARCHAR, Convert(INT, @BaseRateDiscPromoP * 100)) + '%)'
                        ELSE ''
                    END
                  + CASE
                        WHEN @BaseRateDisc > 0
                        THEN Char(13) + Char(10) + 'Base rate discount = ' + Convert(VARCHAR, @BaseRateDisc) + ' ('
                             + Convert(VARCHAR, Convert(INT, @BaseRateDiscP * 100)) + '%)'
                        ELSE ''
                    END + CASE
                              WHEN @PeakDayFlag = 1
                               AND @PeakDayPremium > 0
                              THEN Char(13) + Char(10) + 'Peak Day Premium = ' + Convert(VARCHAR, Convert(INT, @PeakDayPremium * 100)) + '%'
                              ELSE ''
                          END ;
        END ;
    END ;
    IF @Ratio IS NULL
    BEGIN
        --PRINT command added by Curt, 12/9/2015:
        IF @PrintDebug = 1
        BEGIN
            PRINT 'About to get @Ratio, @SeriesID = ' + IsNull(Cast(@SeriesID AS VARCHAR(10)), 'NULL') ;
        END ;

        -- now go get ratio
        IF @OwnedProgramRank = @FlownProgramRank --not an up/dngrade
        OR @SeriesID = 15
        OR @DebitCardFlag = 1
        BEGIN
            SET @Ratio = 1 ;
        END ;
        ELSE
        IF @PrimarySeries IN (1, 2, 3, 4, 19, 20, 21, 22, 23)
       AND @OwnedProgramRank <> @FlownProgramRank
       AND @MarketingProgramID NOT IN (24, 26, 30)
       AND @SeriesID NOT IN (4, 11)
        -- Series 1,2 or 3 non-VP/VPP/MA, excl FlexjetConnect
        -- Up/Dngrade scenario
        -- get ratio from contract first
        BEGIN
            SELECT @Ratio = ContractRate
              FROM ContractRate cr
             WHERE cr.ContractID          = @ContractID
               AND cr.RateTypeID          = 19
               AND cr.ActiveFlag          = 1
               AND cr.ComparisonProgramID = @FlownProgramID
               AND cr.FlexjetProgramId    = @OwnedProgramID
               AND @TimeOff
           BETWEEN cr.BeginDate AND cr.EndDate ;

            IF @Ratio IS NULL --no active ratio on day of for owned/flown combo on contract
            BEGIN --check for an overriding billing series or use program default
                IF IsNull(@CalculationSeriesDate, '12/31/2078') < @TimeOff
                --has calc series, use it
                BEGIN
                    SELECT @Ratio = ProgramRate
                      FROM ProgramRate pr
                          JOIN FlexjetOwnerContract fjoc ON pr.MarketingProgramID = fjoc.CalculationSeriesID
                     WHERE fjoc.ContractID        = @ContractID
                       AND pr.RateTypeID          = 19
                       AND pr.ActiveFlag          = 1
                       AND pr.ComparisonProgramID = @FlownProgramID
                       AND pr.FlexjetProgramId    = @OwnedProgramID
                       AND @TimeOff
                   BETWEEN pr.BeginDate AND pr.EndDate ;
                END ;
                ELSE
                --has no calc series, use program default
                BEGIN
                    SELECT @Ratio = ProgramRate
                      FROM ProgramRate pr
                          JOIN FlexjetOwnerContract fjoc ON pr.MarketingProgramID = fjoc.MarketingProgramID
                     WHERE fjoc.ContractID        = @ContractID
                       AND pr.RateTypeID          = 19
                       AND pr.ActiveFlag          = 1
                       AND pr.ComparisonProgramID = @FlownProgramID
                       AND pr.FlexjetProgramId    = @OwnedProgramID
                       AND @TimeOff
                   BETWEEN pr.BeginDate AND pr.EndDate ;
                END ;
                --if ProgramRate not found, then use MarketingProgramID = 24:  (added by Curt Coker, 7/7/2015)
                IF @Ratio IS NULL
                BEGIN
                    SELECT @Ratio = ProgramRate
                      FROM ProgramRate pr
                     WHERE pr.MarketingProgramID  = 24 --use this as default if contract CalculationSeriesID not found
                       AND pr.RateTypeID          = 19
                       AND pr.ActiveFlag          = 1
                       AND pr.ComparisonProgramID = @FlownProgramID
                       AND pr.FlexjetProgramId    = @OwnedProgramID
                       AND @TimeOff
                   BETWEEN pr.BeginDate AND pr.EndDate ;
                END ;
            END ;
        END ;
        ELSE
        IF @Ratio IS NULL
       AND @OwnedProgramRank <> @FlownProgramRank
        -- up/dngrade but not S2/3 non-VP/VPP/MA
        -- or S2/3 non-VP/VPP up/dn had no contract or program default values
        BEGIN --use S3 brochure interchange ratio (use S3VP for brochure ratios)
            SELECT @Ratio = ProgramRate
              FROM ProgramRate pr
             WHERE pr.MarketingProgramID  = 24
               AND pr.RateTypeID          = 19
               AND pr.ActiveFlag          = 1
               AND pr.ComparisonProgramID = @FlownProgramID
               AND pr.FlexjetProgramId    = @OwnedProgramID
               AND @TimeOff
           BETWEEN pr.BeginDate AND pr.EndDate ;
        END ;

        --PRINT command added by Curt, 12/9/2015:
        IF @PrintDebug = 1
        BEGIN
            PRINT 'should have proper ratio now (ha!!), @Ratio = ' + IsNull(Cast(@Ratio AS VARCHAR(10)), 'NULL') + '; @VariableRemark = '
                  + IsNull(@VariableRemark, 'NULL') ;
        END ;

        --should have proper ratio now
        SET @VariableRemark = @VariableRemark + Char(13) + Char(10) + 'Interchange Ratio = ' + Convert(VARCHAR, @Ratio) ;

        --if called from CMGR and has a Skyjet Purchased Hours Rate, add this to the VariableRate
        IF @SourceRoutine = 'CMGR'
        BEGIN
            SELECT @SkyjetSurcharge = ContractRate
              FROM ContractRate
             WHERE ContractID = @ContractID
               AND ActiveFlag = 1
               AND RateTypeID = 84
               AND @TimeOff
           BETWEEN BeginDate AND EndDate ;

            SET @VariableRate = @VariableRate + IsNull(@SkyjetSurcharge, 0) ;
        END ;

        --apply ratio to variable rate for S2/3 up/dn non-VP/VPP/MA, non-Premiums
        IF @PrimarySeries IN (2, 3, 4, 19, 20, 21, 22, 23) --not s1
       AND @OwnedProgramID <> @FlownProgramID --up/dngrade
       AND @MarketingProgramID NOT IN (24, 26, 30, 27) --VP and HMA
       AND @ContractID <> 11465 --new NYL that is HMA but treated as MA
       AND @PremiumFlag = 0 --not premium already
       AND @SeriesID NOT IN (10, 15) --cards apply like a series 1, ratio to hours only
        --regular S2/3 up/dn, variable = variable rate * ratio
        BEGIN
            IF @BUID = 4
            BEGIN
                SET @VariableRate = @VariableRate * @Ratio ;
            END ;
            ELSE
            BEGIN
                SET @VariableRate = Round(@VariableRate * @Ratio, 0) ;
            END ;

            SET @RateByRatioFlag = 1 ;
        END ;
    END ;

